@import url("header.css");
@import url("left.css");
@import url("nav.css");
@import url("middle.css");
*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 990px;
	height: 2200px;
	margin: auto;
}


/*广告部分样式*/
.ad{
	background: url(../img/ad.gif);
	width: 990px;
	height: 63px;
}

.right{
	float: left;
	width: 246px;
	height: 1601px;
	
}
.right .right1{
	background: #D60000;
	width: 246px;
	height: 120px;
	border-radius: 5px;
	margin-top: 2px;
}
.right .right2{
	background: #7C7981;
	width: 246px;
	height: 240px;
	border-radius: 5px;
	margin-top: 2px;
}
.right .rightx{
	background: #224E89;
	width: 246px;
	height: 250px;
	border-radius: 5px;
	margin-top: 2px;
}
.footer{
	clear: both;
	background: url(../img/footer_temp.gif);
	width: 990px;
	height: 245px;
}
