@import url("header.css");
@import url("left.css");
@import url("nav.css");
@import url("middle.css");
@import url("right.css");
*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 990px;
	height: 2200px;
	margin: auto;
}


/*广告部分样式*/
.ad{
	background: url(../img/ad.gif);
	width: 990px;
	height: 63px;
}


.footer{
	clear: both;
	background: url(../img/footer_temp.gif);
	width: 990px;
	height: 245px;
}
